 #mealContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: 800;
    color: black;
}

.meal-box {
    position: relative;
    width: 250px;
    padding: 25px;
    margin: 20px;
    cursor: pointer;
    border-radius: 5px;
    border: 3px solid white;
    padding:10px;
    background-color:black;
    color: azure;
    gap:40px;
}

.meal-box img {
    width: 100%;
    border-radius: 5px;
    gap:40px;
}

.meal-box a {

    position: absolute;
    top: 5px;
    left: 5px;
    text-decoration: none;
    background-color:black;
    color:whitesmoke;
    font-size: 18px;
    padding: 4px 8px;
    border-radius: 5px;
    font-weight: 600;
    gap:40px;
}

.video-container {
    width: 400px;
} 

@media (max-width:568px) {
    .meal-box {
        width: 100%;
    }
}