
#categoryContainer {

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap:40px;
    width:100%;
    padding: 20px;
    justify-content: center;
    
}

.food-box {
    cursor: pointer;
    border: 3px solid black;
    width: 20rem;
    border-radius: 5px;
    text-align: center;
    position: relative;
    overflow: hidden;
}

.food-box img {
    width: 100%;
    background-color:black;
    padding: 50px;
}

.food-box p {
    position: absolute;
    font-size: 20px;
    background: red;
    color:azure;
    width: 100%;
    padding: 10px;
    bottom: 0;
    left: 0;
    margin: 0;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    font-weight: 600;
}

.food-box:hover p {
    opacity: 1;
}

@media (max-width:568px) {
   
    .food-box{
        width: 9rem;
    }
    .food-box p{
        font-size: 16px;
        font-weight: 400;
    }
}